<ion-header>
  <ion-navbar>
    <ion-title>
      My camera
    </ion-title>
  </ion-navbar>
</ion-header> 

<ion-content padding>	

<img src="img/default_user.jpg" *ngIf="!image">
<img src={{image}} *ngIf="image">

<button ion-button  full color="danger" (click)="cameraTapped()" > <ion-icon name="camera"></ion-icon> Take image</button>

<button ion-button full color="secondary" (click)="socialTapped()" ><ion-icon name="cloud-upload">   </ion-icon>  Share to Instagram! </button>
  </ion-content>
